<%- include ('templates/_header')%>

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <%- include ('templates/head&breadcumbs')%>

      <!-- Intro Content -->
      <div class="row">
        <div class="col-lg-6">
          <img class="img-fluid rounded mb-4" src="images/bus.jpg" alt="">
        </div>
        <div class="col-lg-6">
          <h2>¿Quiénes somos?</h2>
          <p>Online Bus Tickets se creó con la intención de crear plantillas en Node.js utilizando el motor de EJS para la materia de Desarrollo de Software 9; además defacilitar la compra de boletos de autobús por Internet.</p>
          <p>Tenemos más de 15 destinos y proporcionamos múltiples rutas para que nuestros clientes que buscan comodidad y rapidez puedan hacer sus compras sin salir de casa.</p>
          <p>Ofrecemos compra de boletos por Internet para viajar por tierra a todo Panamá por medio de nuestro sistema, el cual tiene alianzas con diversas empresas de transporte y turismo.</p>
        </div>
      </div>
      <!-- /.row -->
    </div>
    
    <!-- Footer -->
    <%- include ('templates/_footer')%>