<%- include ('templates/_header')%>
    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <%- include ('templates/head&breadcumbs')%>

      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="images/v-anton.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">El Valle de Antón</a>
              </h4>
              <p class="card-text">...</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="images/penonome.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Penonomé</a>
              </h4>
              <p class="card-text">...</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="images/agudulce.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Aguadulce</a>
              </h4>
              <p class="card-text">...</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="images/santiago.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Santiago</a>
              </h4>
              <p class="card-text">...</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="images/sona.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Soná</a>
              </h4>
              <p class="card-text">...</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="images/chitre.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Chitré</a>
              </h4>
              <p class="card-text">...</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="images/lastablas.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Las Tablas</a>
              </h4>
              <p class="card-text">...</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="images/pedasi.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Pedasí</a>
              </h4>
              <p class="card-text">...</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Pagination -->
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <%- include ('templates/_footer')%>
