<%- include ('templates/_header')%>

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <%- include ('templates/head&breadcumbs')%>

      <!-- Content Row -->
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h3 class="card-header bg-primary text-white">Penonomé</h3>
            <div class="card-body">
              <div class="display-4">B/.5.25</div>
              <div class="font-italic">Tiempo aproximado: 2:15 hrs</div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">4:50 am</li>
              <li class="list-group-item">5:20 am</li>
              <li class="list-group-item">5:50 am</li>
              <li class="list-group-item">
                <a href="#" class="btn btn-primary">Comprar</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card card-outline-primary h-100">
            <h3 class="card-header bg-primary text-white">Chitré</h3>
            <div class="card-body">
              <div class="display-4">B/.9.05</div>
              <div class="font-italic">Tiempo aproximado: 3:15 hrs</div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">5:00 am</li>
              <li class="list-group-item">5:45 am</li>
              <li class="list-group-item">6:30 am</li>
              <li class="list-group-item">
                <a href="#" class="btn btn-primary">Comprar</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h3 class="card-header bg-primary text-white">Santiago</h3>
            <div class="card-body">
              <div class="display-4">B/.9.10</div>
              <div class="font-italic">Tiempo aproximado: 3:10 hrs</div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">5:25 am</li>
              <li class="list-group-item">6:05 am</li>
              <li class="list-group-item">6:45 am</li>
              <li class="list-group-item">
                <a href="#" class="btn btn-primary">Comprar</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <%- include ('templates/_footer')%>
