<%- include ('templates/_header')%>
    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('images/1.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>2020</h3>
              <p>Panamá un lugar privilegiado.</p>
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('images/2.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>2020</h3>
              <p>Panamá un lugar privilegiado.</p>
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('images/3.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>2020</h3>
              <p>Panamá un lugar privilegiado.</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>

    <!-- Page Content -->
    <div class="container">

      <h1 class="my-4">Bienvenido a Online Bus Tickets </h1>

      <!-- Marketing Icons Section -->
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Comprar Ticket Bus</h4>
            <div class="card-body">
              <p class="card-text">Evita las filas y reserva tus boletos de autobús al instante. La mejor forma de reservar boletos de autobús.</p>
            </div>
            <div class="card-footer">
              <a href="/*" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Destinos</h4>
            <div class="card-body">
              <p class="card-text">Más de 15 destinos a nivel nacional incluyendo lugares turísticos de Panamá </p>
            </div>
            <div class="card-footer">
              <a href="*" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Horarios</h4>
            <div class="card-body">
              <p class="card-text">Verique los horarios de salidas disponible hacia su destino.</p>
            </div>
            <div class="card-footer">
              <a href="*" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->

      <!-- Portfolio Section -->
      <h2>Festividades</h2>

      <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="*"><img class="card-img-top" src="images/festival1.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="*">Festival de Diablos y Congos</a>
              </h4>
              <p class="card-text">La diversidad de máscaras, gestos, vestuarios y actitudes corporales, identifican dos familias de Diablos: la hispánica y la afro colonial.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="*"><img class="card-img-top" src="images/festival2.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="*">Campeonato Internacional de Surf</a>
              </h4>
              <p class="card-text">El campeonato internacional de surf en la playa de Santa Catalina, en el distrito de Soná, la mesa está servida para que la adrenalina se apodere por una semana de esta región veragüense.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="*"><img class="card-img-top" src="images/festival3.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="*">Desfile de las mil polleras</a>
              </h4>
              <p class="card-text">Organizado por la Autoridad de Turismo de Panamá, el Desfile de las Mil Polleras se realiza en la ciudad de Las Tablas, una de las ciudades panameñas guardianas del folklore y las tradiciones de este país.</p>
            </div>
          </div>
        </div>
 
      </div>
      <!-- /.row -->


      <!-- /.row -->

      <hr>

      <!-- Call to Action Section -->


    </div>
    <!-- /.container -->

    <!-- Footer --> 
    <%- include ('templates/_footer')%>