<h1 class="mt-4 mb-3">
    <%= titulo %>
    <small><%= pageName %></small>
</h1>

<ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/">Inicio</a>
    </li>
    <li class="breadcrumb-item active"><%= titulo %></li>
  </ol>